$spacing-8-value:   8px;
$spacing-16-value:  16px;
$spacing-24-value:  24px;
$spacing-32-value:  32px;

$spacing-8: var(--spacing-8);
$spacing-16: var(--spacing-16);
$spacing-24: var(--spacing-24);
$spacing-32: var(--spacing-32);

// 

$color-theme-foreground-value: #D6E6F2;
$color-white-value: #FFFFFF;
$color-black-value: #333333;
$color-grey-value: #666666;
 
$color-theme-foreground: var(--color-theme-foreground);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-grey: var(--color-grey);
