@use '@styles/core/variables' as variables;
@use '@styles/core/mixins' as mixins;

.modal__enter {
  opacity: 0;
}

.modal__enter_active {
  opacity: 1;
  transition: opacity 200ms;
}

.modal__exit {
  opacity: 1;
}

.modal__exit_active {
  opacity: 0;
  transition: opacity 200ms;
}

.content {
  display: flex;
  flex-direction: column;
  

  &__title {
    margin-bottom: variables.$spacing-16;

    font-weight: 500;
    font-size: 2.5rem;

    @include mixins.media-mobile {
      font-size: 1.5rem;
    }
  }

  &__date {
    margin-bottom: variables.$spacing-32;
    
    font-family: monospace;
    font-weight: 500;
    font-size: 1rem;

    @include mixins.media-mobile {
      font-size: 0.875rem;
    }
  }

  &__image {
    position: relative;
    margin-bottom: variables.$spacing-32;

    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: variables.$color-theme-foreground;
  }

  &__description {
    margin-bottom: variables.$spacing-32;

    font-size: 1.25rem;
    line-height: 1.5em;

    @include mixins.media-mobile {
      font-size: 1rem;
    }

    &_content_html {
      p:not(:last-child),
      ul:not(:last-child),
      ol:not(:last-child) {
        margin-bottom: 0.5em;
      }

      ul, ol {
        padding: initial;
        list-style: initial;
      }

      a {
        text-decoration: underline;
      }

      code {
        padding: 2px 8px;
        color: black;

        background-color: whitesmoke;
        border-radius: 6px;
      }
    }
  }

  &__subtitle {
    margin-bottom: variables.$spacing-8;
    font-weight: 500;
    font-size: 1.5rem;

    @include mixins.media-mobile {
      font-size: 1.25rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-8;
  }

  &__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-transform: uppercase;
    font-family: monospace;
    line-height: 1.5em;
    font-size: 1rem;

    @include mixins.media-mobile {
      font-size: 0.875rem;
    }
  }
}
