@use '@styles/core/variables' as variables;
@use '@styles/core/mixins' as mixins;
@import '@styles/core/interfaces/container';

.footer {
  margin-top: variables.$spacing-64;
  padding: variables.$spacing-16;

  background-color: variables.$color-white;
  
  &__items {
    @extend %container;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: variables.$spacing-32;
  }

  &__home {
    margin-right: auto;

    font-family: monospace;
    font-size: 1.5rem;

    @include mixins.media-mobile {
      font-size: 1.25rem;
    }
  }

  &__icons {
    display: flex;
    gap: variables.$spacing-32;

    @include mixins.media-mobile {
      flex: 1;
      justify-content: space-between;
    }
  }

  &__icon {
    width: var(--size);
    height: var(--size);

    --size: 40px;

    @include mixins.media-mobile {
      --size: 32px;
    }
  }
}
