@use '@styles/core/variables' as variables;
@import '@styles/core/interfaces/container';

.footer {
  padding: variables.$spacing-16;

  background-color: variables.$color-white;
  
  &__items {
    @extend %container;

    display: flex;
    align-items: center;
  }

  &__home {
    margin-right: auto;
    font-size: 1.5rem;
  }

  &__icon {
    margin-right: variables.$spacing-24;

    width: var(--size);
    height: var(--size);

    --size: 40px;
  }
}
