@use '@styles/core/variables' as variables;
@use '@styles/core/mixins' as mixins;

.project {
  padding: variables.$spacing-24;

  background-color: variables.$color-white;
  border-radius: 12px;

  &__header {
    margin-bottom: variables.$spacing-24;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: variables.$spacing-8;
    column-gap: variables.$spacing-32;
  }

  &__title {
    margin-right: auto;

    font-size: 1.5rem;
    font-weight: 500;
  }

  &__link {
    text-decoration: underline;
  }

  &__image {
    position: relative;
    margin-bottom: variables.$spacing-24;

    aspect-ratio: 16 / 9;
  }

  &__paragraph {
    margin-bottom: variables.$spacing-24;
    line-height: 1.5em;
  }

  &__tags {
    display: flex;
    gap: variables.$spacing-8;
  }

  &__tag {
    min-width: 100px;
    padding: variables.$spacing-8;

    text-align: center;
    font-size: 0.875rem;
    color: variables.$color-white;
    
    background-color: #769FCD;
    border-radius: 16px;
  }
}
