@use '@styles/core/variables' as variables;
@use '@styles/core/mixins' as mixins;
@import '@styles/core/interfaces/container';

.list {
  @extend %container;

  margin-bottom: variables.$spacing-64;

  display: flex;
  flex-wrap: wrap;
  gap: variables.$spacing-16;

  &__item {
    position: relative;

    min-width: 100px;
    padding: variables.$spacing-16 variables.$spacing-24;

    letter-spacing: 0.1em;
    color: white;

    background-color: var(--theme-color, #769FCD);
    border-radius: 12px;

    &[data-theme="all"] {
      color: variables.$color-black;
      --theme-color: #{variables.$color-white};
    }
    &[data-theme="1"] { --theme-color: #{variables.$color-note-theme-1}; }
    &[data-theme="2"] { --theme-color: #{variables.$color-note-theme-2}; }
    &[data-theme="3"] { --theme-color: #{variables.$color-note-theme-3}; }
    &[data-theme="4"] { --theme-color: #{variables.$color-note-theme-4}; }
    &[data-theme="5"] { --theme-color: #{variables.$color-note-theme-5}; }
    &[data-theme="6"] { --theme-color: #{variables.$color-note-theme-6}; }
    &[data-theme="7"] { --theme-color: #{variables.$color-note-theme-7}; }
    &[data-theme="8"] { --theme-color: #{variables.$color-note-theme-8}; }
    &[data-theme="9"] { --theme-color: #{variables.$color-note-theme-9}; }
    &[data-theme="10"] { --theme-color: #{variables.$color-note-theme-10}; }

    transition: opacity 200ms linear;

    &[data-active="false"] { opacity: 0.25; }

    @include mixins.media-mobile {
      font-size: 0.875rem; 
    }
  }
}
